{% extends 'base.html' %}

<!--NavBar block-->
{% block navbar %}
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('display_totals')}}">Saldos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('operations')}}">Operaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('add_operation')}}">Agregar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('maintenance')}}">Mantenimiento</a>
</li>
{% endblock %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <p>{{ WELCOME_STRING }}</p>
{% endblock %}
