{% extends 'base.html' %}

<!--NavBar block-->
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('display_totals')}}">Ver saldos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('operations')}}">Ver operaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('add_operation')}}">Agregar</a>
  </li>
{% endblock %}