{% extends 'base.html' %}

<!--NavBar block-->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Deudas y pagos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('display_totals')}}">Ver saldos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_operation')}}">Agregar</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block title %}Saldos a la fecha {% endblock %}

{% block content %}
    {% if balances %}
    <ul>
        {% for name, amount in balances %}
            {% set action = "debe" if amount > 0 else "tiene a favor" %}
            <li><p>{{name.title()}} {{action}} ${{amount|abs}}</p></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Parece no haber ningún saldo pendiente.</p>
    {% endif %}
{% endblock %}