{% extends 'base.html' %}

<!--NavBar block-->
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('display_totals')}}">Saldos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('operations')}}">Operaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('add_operation')}}">Agregar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('maintenance')}}">Mantenimiento</a>
  </li>
{% endblock %}

{% block content%}
<div class="center">
  <div class="card-center text-center">
      <h5 class="card-header">Operaciones efectuadas por {{client.title()}}</h5>
        {% if operations %}
            <div class="card-body">
      <div class="w-25">
      <ul class="list-group text-left">
        {% for operation in operations %}
            {% set op, amount, date, time = operation %}
            {% if op == 'debt' %}
                <li class="list-group-item list-group-item-danger">Se fió ${{amount}} <p class="text-right">({{date}} a las {{time}})</p></li>
            {% else %}
                <li class="list-group-item list-group-item-success">Pagó ${{amount}} <p class="text-right">({{date}} a las {{time}})</p></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
        {% else %}
        <label class="list-group-item list-group-item-warning">No se tienen registros de las operaciones efectuadas por {{client.title()}}</label>
        {% endif %}
  </div>
</div>
{% endblock %}